<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-brand">&copy; Saray Private Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a> &nbsp; &nbsp; &nbsp; &nbsp; 
            <a href="#">Terms</a>
        </div>
         <div class="f-info-brand">Created By: Rachit Bhardwaj</div>
    </div>
</footer>